version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    restart: always
    depends_on:
      - postgres
    env_file:
      - .env-local
    ports:
      - "8000:8000"
    networks:
      - backend

  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    env_file:
      - .env-local
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - backend

networks:
  backend:

volumes:
  postgres_data:
